/* Coolors Exported Palette - coolors.co/fbc86a-8ea7d8-fbfffe-645e64-070d1a */

/* HSL */
$color1: hsla(39%, 95%, 70%, 1);
$color2: hsla(220%, 49%, 70%, 1);
$color3: hsla(165%, 100%, 99%, 1);
$color4: hsla(300%, 3%, 38%, 1);
$color5: hsla(221%, 58%, 6%, 1);

/* RGB */
$color1: rgba(251, 200, 106, 1);
$color2: rgba(142, 167, 216, 1);
$color3: rgba(251, 255, 254, 1);
$color4: rgba(100, 94, 100, 1);
$color5: rgba(7, 13, 26, 1);